*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* deixando o fundo da cor */
body{
    background-color: #62374e;
}

.q1{
    /* difinindo tamanho */
    width: 100px;
    height: 100px;

    /* definindo cor */
    background: #fdc57b;

    /* dando um posicionamento */
    position: absolute;
    margin-top: 5%;
    margin-left: 8%;

}

    /* só repeti o processo para todos os outros quadrados */
.q2{
    width: 100px;
    height: 100px;
    background: #fdc57b;
    position: absolute;
    margin-top: 5%;
    margin-right: 8%;
    top: 0;
    right: 0;
}

.q3{
    width: 100px;
    height: 100px;
    background: #fdc57b;
    position: absolute;
    margin-bottom: 5%;
    margin-left: 8%;
    bottom: 0;
    left: 0;
}

.q4{
    width: 100px;
    height: 100px;
    background: #fdc57b;
    position: absolute;
    margin-bottom: 5%;
    margin-right: 8%;
    bottom: 0;
    right: 0;
}

.quadrado{
    /* criei uma grade para colocar na posição*/
    display: grid;
    grid-template-columns: 1fr 1fr;
}